font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster Two', cursive;

   /* HEADER */
header{
    width:100%;
    background-image: url(".../images/awning.png");
    display: inline-block;
}

#logo1{
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 42pt;
    color: #660018;
    width: 625px;
}

.navmenu{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16pt;
    color: #660018;
    display: inline-block;
    margin: 21px;
}

#homeimg{
    height: 45px;
    margin-right: 15px;
    margin-left: 40px;
}

.socialimg{
    height: 40px;
    margin: 14px;
}

.head-in-block{
    display: inline-block;
}

   /* BODY */
h1{
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  font-weight: 700;
  font-size: 30pt;
  text-align: center;
  color: #660018;
  width: 471px;
  padding-bottom: 33px;
  border-bottom: 3px solid #660018;
  border-color: #660018;
}

p{
   font-family: 'Josefin Sans', sans-serif;
   font-size: 20pt;
   color: #660018;
   text-align: center;
   width: 471px;
   padding: 0;
   margin: 10px;
}

#img1{
  width: 820px;
  float: left;
  margin-right: 58px;
  margin-top: 45px;
  margin-bottom: 50px;
  margin-left: 40px;
}

.body-in-block{
    display: inline-block;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #660018;
  width: 345px; /* Full width */
  padding: 12px; /* Some padding */ 
  background-color: #fffde4;
  border: 1px solid #fffde4; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #660018;
  color: white;
  padding: 16px 48px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #fbdae0;
  color: #6c7175;
}

/* Add a background color and some padding around the form */
.container {
  background-color: #97c29a;
  width: 505px;
  padding: 80px;
  display: inline-block;
  margin-top: 15px;
}


#imgig{
    width: 886px;
    float: left;
    margin-left: 40px;
}
#imgfb{
    width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#imgpalm{
    height: 75px;
}

#logo2{
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 41px;
    color: #660018;
}

.footp{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: #660018;
    text-align: left;
    padding: 0;
    margin-bottom: 18px;
}

h2{
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    color: #660018;
    padding-bottom: 35px;
}

.foot-in-block{
    display: inline-block;